<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>客戶/專案管理</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../static/css/bootstrap-jie.css" rel="stylesheet"/>
    <link href="../../static/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/bootstrap-datetimepicker.min.css" media="screen"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-datetimepicker.css" media="screen"/>
    <!-- Custom styles for this tmemberlate -->
    <link href="../../static/css/dashboard.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body th:inline="text">
<script src="/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>



<!--引入topbar-->
<div th:replace="common/bar::top_bar"></div>
<div class="container-fluid">
    <div class="row">
        <!--引入sidebar-->
        <div th:replace="common/bar::side_bar(activeUrl='books')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="chartjs-size-monitor"
                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>
            <!-- form **************************************************************-->
            <div id="app">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">新增</h3>
                    </div>
                    <div class="panel-body form-inline">
                        <label>
                            姓名:
                            <input type="text" class="form-control" v-model="name">
                        </label>
                        <label>
                            密碼:
                            <input type="password" class="form-control" v-model="password">
                        </label>
                        <label>
                            帳號:
                            <input type="text" class="form-control" v-model="account" @keyup.enter="add">
                        </label>
                        <input type="button" value="++" class="btn-lg btn-primary" @click="add">
                    </div>
                    <label>
                        查詢關鍵字:
                        <input type="text" class="form-control" v-model="q_name" v-focus v-color="'blue'">
                    </label>
                    <input type="button" value="test" class="btn-info" @click="getMemberList">
                </div>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>密碼</th>
                        <th>帳號</th>
                        <th>刪除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="member in search(q_name)" :key="member.id">
                        <td>{{member.account}}</td>
                        <td>{{member.password}}</td>
                        <td>{{member.name}}</td>
                        <td>
                            <button class="btn-danger" @click="del(member.id)">del</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--pagination-->
            <!--<div th:replace="common/pagination::pagination"></div>-->


        </main>

    </div>
</div>
<script>

    /**
     * toast 小提示框
     * @param tipTxt 提示内容
     */
    function popToast(tipTxt) {
        var $popToast = $(".pop-toast");
        $popToast.remove();
        var popToastHtml = '<div class="pop-toast">\n' +
            '            <p class="toast-tip">' + tipTxt + '</p>\n' +
            '        </div>';
        $popToast = $(popToastHtml);
        $("body").append($popToast);
        setTimeout(function () {
            $popToast.fadeOut();
        }, 1500);
    }

    // 自定義V指令
    Vue.directive('focus', {
        //只调用一次，指令第一次绑定到元素时调用。在这里可以进行一次性的初始化设置。
        bind: function (el) {
            // 聚焦元素
            el.focus()
        },
        // 当被绑定的元素插入到 DOM 中时……被绑定元素插入父节点时调用 (仅保证父节点存在，但不一定已被插入文档中)。
        inserted: function (el) {
            // 聚焦元素
            el.focus()
        }
    })
    // 自定義V指令
    Vue.directive('color', {
        //只调用一次，指令第一次绑定到元素时调用。在这里可以进行一次性的初始化设置。
        //style才有效 JS需要inserted時才會生效
        bind: function (el, binding) {
            // 聚焦元素
            el.style.color = binding.value

        },
    })
    axios.defaults.baseURL = `http://localhost:8083`

    var vm = new Vue({
        el: '#app',
        data: {
            q_name: '',
            id: '',
            name: '',
            password: '',
            account: '',
            memberList: [],
        },
        created() {
            this.getMemberList()
        },
        methods: {
            // Vue 做數據綁定之後只要有被改動值都會被監聽到
            // add() {
            //     let maxId = Math.max(...this.memberList.map(m => m.id));
            //     var member = {
            //         id: maxId + 1,
            //         name: this.name,
            //         phone: this.phone,
            //         account: this.account,
            //         createTime: moment(new Date()).format("YYYY-MM-DD HH:mm:ss")
            //     }
            //     this.memberList.push(member)
            //     this.id = this.name = this.account = this.phone = ''
            // },
            add() {
                console.log('addMemberList')
                const url = `/member/addMember/`
                axios.post(url, {
                    name: this.name,
                    password: this.password,
                    account: this.account,
                }).then(
                    response => {
                        this.getMemberList()
                        console.log('成功')
                    }).catch(e => {
                    console.log(e)
                    alert('失敗了!!')
                })
            },
            del(id) {
                console.log('delMemberList' + id)
                const url = `/member/delMember/`
                axios.delete(url + '/' + id).then(
                    response => {
                        this.getMemberList()
                        console.log('成功')
                    }).catch(e => {
                    console.log(e)
                    alert('失敗了!!')
                })
            },
            // del(id) {
            //     //第一種方式
            //     this.memberList.some((member, i) => { //some 如果找到返回True 就會停止找尋
            //             if (member.id === id) {
            //                 console.log(id);
            //                 //this.memberList.splice(i,1);
            //                 return true
            //             }
            //         }
            //     )
            //     //第二種比較快直接找index
            //     let index = this.memberList.findIndex(member => member.id === id)
            //     //console.log('* * '+index)
            //     this.memberList.splice(index, 1);
            // },
            search(q_name) {
                console.log(q_name)
                let fMember = this.memberList.filter(member => member.name.indexOf(q_name) != -1)
                console.log(fMember)
                return fMember;
            },
            getMemberList() {
                console.log('getMemberList')
                const url = `/member/getMembers/`
                axios.get(url).then(
                    response => {
                        this.memberList = response.data
                        console.log('成功')
                    }).catch(e => {
                    console.log(e)
                    alert('失敗了!!')
                })
            }
        }
        // mounted () {
        //     const url = `https://127.0.0.1:8771/accommodate/test/`
        //     axios.get(url).then(
        //         response => { // --成功
        //             console.log('成功')
        //         }).catch(e => {
        //         console.log(e.message)
        //         alert('失敗了!!')
        //     })
        // }
    })
</script>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Icons -->
<script src="./Dashboard_files/feather.min.js" th:src="@{/js/feather.min.js}"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-TW.js"></script>
<script>
    feather.replace()
</script>

<script>
    //不讓myForm真的送出
    $('#myForm').submit(function () {
        return false;
    });
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        enter();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function enter() {
        var session = "\''+[[${session.loginUser.getName()}]]+'\'";
        if (session == null || session == '') {
            alert('session 失效');
            window.location.replace(location);
        }
        var status = $('#status').val();
        switch (status) {
            case 'create':
                var $form = $("#myForm");
                var formData = getFormData($form);
                //var formData2 = $('#myForm').serialize(); //for get submit
                $.ajax({
                    contentType: 'application/json; charset=UTF-8',
                    type: "post",
                    //data: JSON.stringify({'id': id,'amt': amt,'incomeOrExpend':incomeOrExpend}) ,
                    data: JSON.stringify(formData),
                    async: false,
                    url: "/books",
                    success: function (data) {
                        //alert('OK');
                        //todo 未來要改成回到當頁

                        popToast("新 增 完 成 ！");
                        setTimeout("location.reload()", 900);
                    },
                    error: function (jqXHR, exception) {
                        ajaxError(jqXHR, exception);
                    },
                });
                break;

            case 'update':
                var sessionId = "\'[[${session.loginUser.getId()}]]\'".replaceAll("'", "");
                $("#updateDat").val(moment().format('YYYY-MM-DD'));
                //$("#createMemberName").val($("#loginUserName").val());
                $("#updateMemberId").val(sessionId);
                // var Today = new Date();
                // $("#updateDat").val((Today.getFullYear()) + "-" + (Today.getMonth() + 1) + '-' + ((Today.getDate().toString().length == 1) ? '0' + Today.getDate() : Today.getDate()));
                var $form = $("#myForm");
                var formData = getFormData($form);
                alert((formData));
                alert(JSON.stringify(formData));
                $.ajax({
                    contentType: 'application/json; charset=UTF-8',
                    type: "PUT",
                    data: JSON.stringify(formData),
                    async: false,
                    url: "/books",
                    success: function (data) {
                        //queryOne(formData.id);
                        popToast("修 改 完 成 ！");
                        //todo 未來要刷新回到當頁並且帶入queryone
                        setTimeout("location.reload()", 700);
                        //location.reload();

                    },
                    error: function (jqXHR, exception) {
                        ajaxError(jqXHR, exception);
                    }
                });
                break;
            case 'delete' :
                if ($("#id").val() != '') {
                    var del = confirm("確定刪除嗎？");
                    if (!del) {
                        return false;
                    } else {
                        var id = $('#id').val();
                        $.ajax({
                            contentType: 'application/json; charset=UTF-8',
                            type: "DELETE",
                            data: id,
                            async: false,
                            url: "/books",
                            success: function (data) {
                                popToast("刪 除 完 成 ！");
                                setTimeout("location.reload()", 700);
                            },
                            error: function (jqXHR, exception) {
                                ajaxError(jqXHR, exception);
                            }
                        });
                    }
                } else {
                    alert('請先選擇您要刪除的資料！');
                }
                break;
        }
        //alert(status);
    }

    function printPDF() {
        alert(11);
        $.ajax({
            contentType: 'application/json; charset=UTF-8',
            type: "POST",
            async: false,
            url: "books/print",
            success: function (data) {
                popToast("OK ！");
                alert(data.toString());
                setTimeout("location.reload()", 700);

            },
            error: function (jqXHR, exception) {
                ajaxError(jqXHR, exception);
            }
        });
    }

    function queryOne(id) {
        var session = "\''+[[${session.loginUser.getName()}]]+'\'";
        if (session == null || session == '') {
            alert('session 失效');
            window.location.replace(location);
        }
        //alert("id 是 " + id);
        //window.location.href = "/toModifyMember2/"+ id
        $.ajax({
                contentType: 'application/json; charset=UTF-8',
                type: 'POST',
                data: (id),
                async: false,
                dataType: 'json',
                url: "/books/queryOne",
                success: function (data) {
                    //alert(JSON.stringify(data));
                    $('#customerId').val(data.customerId);
                    findProjectByCustomerIdAjax($('#customerId').val(), 'form');//重讀二階下拉
                    $('#id').val(data.id);
                    $('#incomeOrExpend').val(data.incomeOrExpend);
                    $('#invoice').val((data.invoice) ? '1' : '0');
                    $('#invYM').val(data.invYM);
                    $('#invNo').val(data.invNo);
                    $('#paid').val((data.paid) ? '1' : '0');
                    $('#paidDat').val((data.paidDat != null) ? data.paidDat.substring(0, 10) : '');
                    $('#amt').val(data.amt);
                    //$('#projectId').val(data.projectId);
                    $('#createDat').val((data.createDat != null) ? data.createDat.substring(0, 10) : '');
                    $('#updateDat').val((data.updateDat != null) ? data.updateDat.substring(0, 10) : '');
                    $('#description').val(data.description);
                    $('#remarks').val(data.remarks);
                    $('#createMemberId').val(data.createMemberId);
                    $('#createMemberName').val(data.createMemberName);
                    $('#updateMemberId').val(data.updateMemberId);
                    $('#updateMemberName').val(data.updateMemberName);

                    componentCl();//把該關閉的元件關掉
                    //要停滯時間給兩階段下拉讀取完再setProjectId
                    console.log(data.projectId);
                    setTimeout("changeProject(" + data.projectId + ")", 100);
                    //$('#updateMemberName').val(data.projectId);
                },
                error: function (jqXHR, exception) {
                    ajaxError(jqXHR, exception);
                }
            }
        )
    }

    function changeProject(projectId) {
        $('#projectId').val(projectId);
    }

    //-查詢視窗
    function openAddModal() {
        $('#addPanelHolder').html();
        $('#addPanel').modal('show');
        /*
        $.ajax({
                type: 'GET',
                url: "/toAddMember",
                success: function (data) {
                    $('#addPanelHolder').html(data);
                    $('#addPanel').modal('show');
                },
            }
        )
        */
    }

    //取的form所有值
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    String.prototype.replaceAll = function (s1, s2) {
        return this.replace(new RegExp(s1, "gm"), s2);
    }

    //元件控制
    function componentCl() {
        var invStatus = $('#invoice').val();
        if (invStatus == 1) {
            $('#invNo').attr('disabled', false);
            $('#invYM').attr('disabled', false);
            $('#invYM').attr('placeholder', '2018-01');
            $('#invNo').attr('placeholder', 'NY12345678');
        } else if (invStatus == 0) {
            $('#invNo').attr('disabled', true);
            $('#invYM').attr('disabled', true);
            $('#invYM').attr('placeholder', '');
            $('#invNo').attr('placeholder', '');

        }
        var paid = $('#paid').val();
        if (paid == 1) {
            $('#paidDat').attr('disabled', false);
            $('#paidDat').attr('placeholder', '2018-01-01');
        } else if (paid == 0) {
            $('#paidDat').attr('disabled', true);
            $('#paidDat').attr('placeholder', '');
        }
    }

    function changePageSize() {
        var page = '1' // 修改每頁幾筆自動回第一頁
        var pageSize = $('#pageSize').val();
        var queryForm = $("#queryForm");

        window.location.href = "/booksChangePage?pageSize=" + pageSize + "&page=" + page;
    }

    function changePage(page) {
        var pageSize = $('#pageSize').val();
        alert(pageSize);
        alert(page);

        window.location.href = "/booksChangePage?pageSize=" + pageSize + "&page=" + page;
    }

    $(".datetimepickerYM").datetimepicker({
        startView: 3,
        minView: 3,
        autoclose: true,
        todayBtn: true,
        todayHighlight: true,
        format: 'yyyy-mm',
        language: 'zh-TW'
    });
    $(".datetimepickerDat").datetimepicker({
        startView: 2,
        minView: 2,
        autoclose: true,
        todayBtn: true,
        todayHighlight: true,
        format: 'yyyy-mm-dd',
        language: 'zh-TW'
    });

    function reInThisPage() {
        var pageSize = $('#pageSize').val();
        window.location.href = "/books?pageSize=" + pageSize;
    }

    function ajaxError(jqXHR, exception) {
        var msg = '';
        if (jqXHR.status === 0) {
            msg = 'Not connect.\n Verify Network.';
        } else if (jqXHR.status == 404) {
            msg = 'Requested page not found. [404]';
        } else if (jqXHR.status == 500) {
            msg = 'Internal Server Error [500].';
        } else if (exception === 'parsererror') {
            msg = 'Requested JSON parse failed.';
        } else if (exception === 'timeout') {
            msg = 'Time out error.';
        } else if (exception === 'abort') {
            msg = 'Ajax request aborted.';
        } else {
            msg = 'Uncaught Error.\n' + jqXHR.responseText;
        }
        alert('seession= ')
        alert("\''+[[${session.loginUser.getName()}]]+'\'");
        alert(msg);
    }


</script>
</body>
</html>