<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>流水帳</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this tmemberlate -->
    <link href="/css/dashboard.css" rel="stylesheet"/>
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <script src="/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</head>

<body>
<script type="text/javascript">
    // var colors = Highcharts.getOptions().colors,
    //     categories = [
    //         "中國信託",
    //         "台灣人壽",
    //         "百威旅遊",
    //         "土銀",
    //     ],
    //     data = [
    //         {
    //             "y": 90,
    //             "color": colors[2],
    //             "drilldown": {
    //                 "name": "中國信託",
    //                 "categories": [
    //                     "行動理專",
    //                     "多媒體派版",
    //                     "文薈館",
    //                 ],
    //                 "data": [
    //                     40,
    //                     20,
    //                     30,
    //                 ]
    //             }
    //         },
    //         {
    //             "y": 70,
    //             "color": colors[1],
    //             "drilldown": {
    //                 "name": "台灣人壽",
    //                 "categories": [
    //                     "獎學金",
    //                     "福委會"
    //                 ],
    //                 "data": [
    //                     50,
    //                     20,
    //                 ]
    //             }
    //         },
    //         {
    //             "y": 50,
    //             "color": colors[0],
    //             "drilldown": {
    //                 "name": "百威旅遊",
    //                 "categories": [
    //                     "改版"
    //                 ],
    //                 "data": [
    //                     50
    //                 ]
    //             }
    //         },
    //         {
    //             "y": 60,
    //             "color": colors[3],
    //             "drilldown": {
    //                 "name": "土銀",
    //                 "categories": [
    //                     "改版",
    //                 ],
    //                 "data": [
    //                     60
    //                 ]
    //             }
    //         },
    //     ],
    //     browserData = [],
    //     versionsData = [],
    //     i,
    //     j,
    //     dataLen = data.length,
    //     drillDataLen,
    //     brightness;
    //
    //
    // // Build the data arrays
    // for (i = 0; i < dataLen; i += 1) {
    //
    //     // add browser data
    //     browserData.push({
    //         name: categories[i],
    //         y: data[i].y,
    //         color: data[i].color
    //     });
    //
    //     // add version data
    //     drillDataLen = data[i].drilldown.data.length;
    //     for (j = 0; j < drillDataLen; j += 1) {
    //         brightness = 0.2 - (j / drillDataLen) / 5;
    //         versionsData.push({
    //             name: data[i].drilldown.categories[j],
    //             y: data[i].drilldown.data[j],
    //             color: Highcharts.Color(data[i].color).brighten(brightness).get()
    //         });
    //     }
    // }
    //
    // // Create the chart
    // Highcharts.chart('pieChart', {
    //     chart: {
    //         type: 'pie'
    //     },
    //     title: {
    //         text: '收入圓餅圖'
    //     },
    //
    //     plotOptions: {
    //         pie: {
    //             shadow: false,
    //             center: ['50%', '50%']
    //         }
    //     },
    //     tooltip: {
    //         valueSuffix: ' 萬'//千
    //     },
    //     series: [{
    //         name: '客戶單位',
    //         data: browserData,
    //         size: '60%',
    //         dataLabels: {
    //             formatter: function () {
    //                 return this.y > 5 ? this.point.name : null;
    //             },
    //             color: 'dark gray',
    //             distance: -50
    //         }
    //     }, {
    //         name: '專案名稱',
    //         data: versionsData,
    //         size: '80%',
    //         innerSize: '60%',
    //         dataLabels: {
    //             formatter: function () {
    //                 // display only if larger than 1
    //                 return this.y > 1 ? '<b>' + this.point.name + ':</b> ' +
    //                     this.y + ' 萬' : null;
    //             }
    //         },
    //         id: 'projectName'
    //     }],
    //     responsive: {
    //         rules: [{
    //             condition: {
    //                 maxWidth: 400
    //             },
    //             chartOptions: {
    //                 series: [{
    //                     id: 'projectName',
    //                     dataLabels: {
    //                         enabled: true
    //                     }
    //                 }]
    //             }
    //         }]
    //     }
    // });
    //
    // Highcharts.chart('pieChart2', {
    //     chart: {
    //         type: 'pie'
    //     },
    //     title: {
    //         text: '支出圓餅圖'
    //     },
    //
    //     plotOptions: {
    //         pie: {
    //             shadow: false,
    //             center: ['50%', '50%']
    //         }
    //     },
    //     tooltip: {
    //         valueSuffix: ' 萬'//千
    //     },
    //     series: [{
    //         name: '客戶單位',
    //         data: browserData,
    //         size: '60%',
    //         dataLabels: {
    //             formatter: function () {
    //                 return this.y > 5 ? this.point.name : null;
    //             },
    //             color: 'dark gray',
    //             distance: -50
    //         }
    //     }, {
    //         name: '專案名稱',
    //         data: versionsData,
    //         size: '80%',
    //         innerSize: '60%',
    //         dataLabels: {
    //             formatter: function () {
    //                 // display only if larger than 1
    //                 return this.y > 1 ? '<b>' + this.point.name + ':</b> ' +
    //                     this.y + ' 萬' : null;
    //             }
    //         },
    //         id: 'projectName'
    //     }],
    //     responsive: {
    //         rules: [{
    //             condition: {
    //                 maxWidth: 400
    //             },
    //             chartOptions: {
    //                 series: [{
    //                     id: 'projectName',
    //                     dataLabels: {
    //                         enabled: true
    //                     }
    //                 }]
    //             }
    //         }]
    //     }
    // });

    var lineChart = null;
    var lineOptions = {
        chart: {
            renderTo: 'lineContainer',
            type: 'line'
        },
        title: {
            text: '收支趨勢圖'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: '金額'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: '收入',
            data: []
        }, {
            name: '支出',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }
            , {
                name: '利潤',
                data: [1.9, 1.2, 2.7, -2.5, 2.9, 1.2, 2.0, 1.6, 10.2, 3.3, 2.6, 4.8]
            }]
    };

    $(document).ready(function () {
        lineChart = new Highcharts.Chart(lineOptions);
        LoadSerie_Ajax();
    });

    function LoadSerie_Ajax() {
        lineChart.LOADING;
        $.ajax({
            contentType: 'application/json; charset=UTF-8',
            url: "/books/lineChart",
            type: 'POST',
            async: false,
            success: function (result) {
                //console.log(result.incomeSum);
                console.log(lineChart);
                lineChart.series[0].setData(result.incomeSum);
                lineChart.series[1].setData(result.expendSum);
                lineChart.series[2].setData(result.profitSum);
                lineChart.xAxis[0].setCategories(result.monthList);
            },
            error: function (jqXHR, exception) {
                ajaxError(jqXHR, exception);
            }
        });
        lineChart.hideLoading();
    }
</script>
<!--引入topbar-->
<div th:replace="common/bar::top_bar"></div>

<div class="container-fluid">
    <div class="row">
        <!--引入sidebar-->
        <div th:replace="common/bar::side_bar(activeUrl='main')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <table>
                <tr style="width: 100%">
                    <td style="width: 60%">
                        <div id="pieChart" style="min-width: 500px; width:50%"></div>
                    </td>
                    <td style="width: 50%">
                        <div id="pieChart2" style="min-width: 500px; width:50%"></div>
                    </td>
                </tr>
                <tr>
                    <div id="lineContainer" class="highcharts-container"
                         style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </tr>
            </table>
        </main>
    </div>
</div>
<script>
    feather.replace()
</script>

</body>
</html>
