<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_TW"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>流水帳</title>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"></meta>
    <style type="text/css">
        body {
            font-family: SimSun;
        }

        table {
            font-size: 11px;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        thead {
            font-size: 10px;
            display: table-header-group;
        }

        tr {
            page-break-inside: avoid;
        }

        table {
            border-collapse: collapse !important;
        }
    </style>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th style="text-align:center">廠商發票</th>
        <th style="text-align:center">廠商發票月份</th>
        <th style="text-align:center">發票號碼</th>
        <th style="text-align:center">付款與否</th>
        <th style="text-align:center">付款日期</th>
        <th style="text-align:center">存款存入</th>
        <th style="text-align:center">存款匯出</th>
        <th style="text-align:center">金額小計</th>
        <th style="text-align:center">專案名稱</th>
        <th style="text-align:center">說明</th>
        <th style="text-align:center">備註</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${Dtos}">
        <!--/*@thymesVar id="member" type="com.oppo.dto.BookDto"*/-->
        <td th:text="${Dtos!=null}?${book.invoice}">1</td>
        <td th:text="${Dtos!=null}?${book.invYM}">1</td>
        <td th:text="${Dtos!=null}?${book.invNo}">1</td>
        <td th:text="${Dtos!=null}?${book.paid}">1</td>
        <td th:text="${Dtos!=null}?${book.paidDat}">1</td>


    </tr>
    </tbody>
</table>
</body>
</html>